@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin scroll-x {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}